/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  background-color: var(--main-background-color);
  color: var(--accent-color);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family);
  font-variation-settings: 'wght' var(--font-weight);
  background-image: var(--background);
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  justify-content: center;
  gap: 100px;
}

.header {
  font-family: var(--secondary-font-family);
  text-align: center;
  text-transform: uppercase;
  margin-block-start: 100px;
  background-color: var(--main-background-color);
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 2px solid var(--accent-color);
  max-width: 696px;
}

.header-name-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-block-start: 136px;
}

.header-title {
  font-size: clamp(49px, 2.7104rem + 1.5023vw, 65px);
  line-height: 49px;
}

.header-name {
  font-size: clamp(0.875rem, 0.7165rem + 0.7923vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.theme-menu {
  margin-block-end: 25px;
}

.theme-menu__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
}

.theme-menu__button:disabled {
  cursor: default;
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:focus-visible {
  border: none;
  outline: none;
}

.theme-menu__button:hover,
.theme-menu__button:disabled,
.theme-menu__button:focus {
  opacity: 0.6;
  animation: opacity 0.3s ease;
  position: relative;
}

.theme-menu__button::after {
  content: "";
  border-bottom: 2px solid;
  width: 85%;
  height: 1px;
  position: absolute;
  display: block;
  bottom: -1px;
  left: 8px;
  transform: scaleX(0);
  transition: 0.3s;
  transform-origin: left;
}

.theme-menu__button:focus::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled::before {
  content: "▶";
  animation: arrow 0.3s ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.main {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main__card {
  background-color: var(--main-background-color);
}

.main__card-title {
  border: 2px solid var(--accent-color);
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  padding: 5px 10px;
}

.main__card-text {
  border: 2px solid var(--accent-color);
}

.main__card-text-info {
  margin: 25px 27px;
  font-size: 18px;
  line-height: 21px;
}

.main__card-image {
  position: relative;
}

.main__card-image-img {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: right;
  border-left: 2px solid var(--accent-color);
  border-right: 2px solid var(--accent-color);
}

.main__card-image-text {
  position: absolute;
  top: 25px;
  right: 13px;
  text-transform: uppercase;
  font-family: var(--secondary-font-family);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: 1px 0px var(--main-background-color),
    1px 1px var(--main-background-color), 0px 1px var(--main-background-color),
    -1px 1px var(--main-background-color), -1px 0px var(--main-background-color),
    -1px -1px var(--main-background-color),
    0px -1px var(--main-background-color), 1px -1px var(--main-background-color);
}

@supports (
  (text-stroke: 1px var(--main-background-color)) or
    (-webkit-text-stroke: 1px var(--main-background-color))
) {
  .main__card-image-text {
    -webkit-text-stroke: 1px var(--main-background-color);
    text-stroke: 1px var(--main-background-color);
    text-shadow: none;
  }
}

.card__buttons {
  display: flex;
  justify-content: right;
  margin: 25px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  padding-block: 0;
  padding-inline: 0;
  width: 39px;
  height: 34px;
  margin-block-start: 2px;
}

.card__icon-button:focus {
  outline: none;
  border: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  border: none;
  transition: outline 0.3s ease;
}

.card__like-button {
  width: 130px;
  height: 38px;
  margin-inline-start: 12px;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  font-family: var(--secondary-font-family);
  font-size: 14px;
  line-height: 90%;
  position: relative;
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow ease 0.3s;
}

.painting::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  transition: 0.5s ease-in-out;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
}

.painting:hover::after {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-text);
  mix-blend-mode: difference;
}

.footer_button {
  display: flex;
  position: relative;
  align-items: center;
  margin: 0px auto;
  gap: 8px;
  background-color: var(--main-background-color);
  border: 2px solid var(--accent-color);
  font-family: var(--secondary-font-family);
  font-size: 14px;
  padding: 15px 20px;
  margin-block-end: 105px;
}

.footer_button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow ease 0.3s;
}

.icon {
  color: var(--floppy-color);
  width: 28px;
  height: 28px;
  mix-blend-mode: difference;
  z-index: 1;
}

.sparks {
  opacity: 0;
  fill: var(--heart-color);
}

.like-icon .core {
  fill: transparent;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear 0.03s;
}

.like-icon .main-body {
  fill: transparent;
  transition-duration: 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition-delay: fill 0.3s linear 0.05s;
}

.like-icon:active .main-body {
  fill: var(--heart-color);
  transition-duration: fill 0.3s linear 0.03s;
}

.like-icon.is-liked .core {
  fill: var(--heart-color);
  transition-duration: fill 0.3s linear 0.03s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color);
  transition-duration: fill 0.3s linear 0.03s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color);
  transition-duration: fill 0.3s linear 0.06s;
}

.like-icon.is-liked,
.heart {
  animation: scale-heart 0.3s ease-in;
  animation-delay: 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks-heart 0.3s ease-in;
  animation-delay: 0.3s;
}

.page__window-button {
  display: flex;
  position: relative;
  align-items: center;
  margin: 0px auto;
  gap: 8px;
  background-color: var(--main-background-color);
  border: 2px solid var(--accent-color);
  font-family: var(--secondary-font-family);
  font-size: 14px;
  text-transform: uppercase;
}

.page__window {
  background-color: var(--main-background-color);
  color: var(--accent-color);
  padding: 30px 42px;
}

.page__window[open] {
  display: grid;
  align-items: center;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr max-content;
  grid-auto-flow: column;
}

.page__window::backdrop {
  background: #000000;
  opacity: 0.75;
}

.page__window-info {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  align-items: center;
  margin-block-end: 30px;
}

.page__window-text {
  font-family: var(--secondary-font-family);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 150%;
}

.page__window-button-text {
  display: inline-block;
  padding-inline: 114.5px;
  padding-block: 12.5px;
}

.filter-brightness {
  filter: brightness(50%);
}

.filter-contrast {
  filter: contrast(50%);
}

.filter-sepia {
  filter: sepia(50%) contrast(50%);
}

.filter-opacity {
  filter: opacity(0.5);
}

.filter-grayscale {
  filter: grayscale(0.5);
}

.filter-saturate {
  filter: saturate(160%);
}

.filter-rotate {
  filter: hue-rotate(-90deg);
}

@keyframes scale-heart {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes sparks-heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes arrow {
  from {
    padding-left: 4px;
  }
  to {
    padding-right: 4px;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.6;
  }
}

@media (width <= 375px) {
  .header-name-group {
    margin-block-start: 120px;
  }
}
