/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-family: 'Inter', sans-serif;
  --secondary-font-family: 'PressStart2P', sans-serif;
  --font-weight: 400;
  --title-font-weight: 700;
  --main-background-color: #ffffff;
  --accent-color: #000000;
  --floppy-color: #ffffff;
  --background: 
  repeating-linear-gradient(to right, #d3d3d3 0 2px, rgba(255, 255, 255, 0) 2px 4px),
  repeating-linear-gradient(to top, #d3d3d3 0 2px, rgba(255, 255, 255, 0) 2px 4px),
  repeating-linear-gradient(#e7e7e7 0.01%, #1a1a1a 100%);
  --button-text: #ffffff;
  --countour-icon: #000000;
  --countour-background: #ff0000;
  --heart-color: #ff0000;
  --font-size: clamp(49px, 2.7104rem + 1.5023vw, 65px);
}


